/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/


/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* 色コード　https://www.colordic.org/p */
:root {
  --color-bg: #ffffff;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Our remix on glitch button */
.btn--remix {
  font-family: HK Grotesk;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000000;
  white-space: nowrap;
  margin-left: auto;
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #D0FFF1;
}

/*main-visual

/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Very light scaling for our illustration */
.title {
  color: #ffff7f;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 100%;
  margin: 0;
}
.title span{
  text-shadow:2px 0 0 #ffff7f,0 1px 0 #f9c158,-2px 0 0 #f9c158,0 -1px 0 #f9c158;
  color:#7f7fff;
  position:relative;
}
.title span::before{
  left:-4px;
  top:-4px;
}



/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}

/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

/* Subheading */
h2 {
  color: #2800FF;
}
/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}

/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/
.dipped {
  transform: translateY(5px);
}

/* ボタン全体 */
.flowbtn14{
font-family:'Arial', sans-serif;	
display:inline-block;
width:90%;
font-size:23px;
text-align:left;
background:#f3f3f3;
border-radius:0 4px 4px 0; 
color:#666666!important;
text-decoration:none;
margin-bottom:5px;
}
.flowbtn14:hover{
text-decoration:none;
}
/* Twitter */
.flowbtn14.fl_tw14{
border-left:solid 5px #55acee;	
padding-left:8px;		
}
/* Twitterマウスホバー時 */
.fl_tw14:hover{
color:#55acee !important;
}
/* Instagram */
.flowbtn14.insta_btn14{
border-left:solid 5px #c6529a;
padding-left:8px;				
}
/* Instagramマウスホバー時 */
.insta_btn14:hover{
color:#c6529a!important;	
}
/* Facebook */
.flowbtn14.fl_fb14{
border-left:solid 5px #3b5998;
padding-left:8px;				
}
/* Facebookマウスホバー時 */
.fl_fb14:hover{
color:#3b5998 !important;
}
/* Feedly */
.flowbtn14.fl_fd14{
border-left:solid 5px #6cc655;
padding-left:8px;			
}
/* Feedlyマウスホバー時 */
.fl_fd14:hover{
color:#6cc655 !important;
}
/* Pocket */
.flowbtn14.fl_pk14{
border-left:solid 5px #ef3f56;
padding-left:8px;			
}
/* Pocketマウスホバー時 */
.fl_pk14:hover{
color:#ef3f56!important;	
}
/* はてブ */
.flowbtn14.fl_hb14{
border-left:solid 5px #1ba5dc;
padding-left:8px;		
}
/* はてブマウスホバー時 */
.fl_hb14:hover{
color: #1ba5dc !important;	
}
/* YouTube */
.flowbtn14.fl_yu14{
border-left:solid 5px #fc0d1c;
padding-left:8px;				
}
/* YouTubeマウスホバー時 */
.fl_yu14:hover{
color: #fc0d1c!important;	
}
/* LINE */
.flowbtn14.fl_li14{
border-left:solid 5px #00c300;
padding-left:8px;				
}
/* LINEマウスホバー時 */
.fl_li14:hover{
color:#00c400!important;
}
/* メールアイコン */
.flowbtn14.fl_ma14{
border-left:solid 5px #f3981d;
padding-left:8px;				
}
/* メールアイコンマウスホバー時 */
.fl_ma14:hover{
color:#f3981d!important;	
}
/* プロフィールアイコン */
.flowbtn14.fl_pf14{
border-left:solid 5px #000;
padding-left:8px;
}
/* プロフィールアイコンマウスホバー時 */
.fl_pf14:hover{
color:#000!important;	
}
/* ボタン内テキスト調整 */
.flowbtn14 span{
font-size:16px;	
position:relative;
left:8px;
bottom:3px;	
}
/* ulタグの内側余白を０にする */
ul.snsbtniti2{
padding:0!important;
list-style-type:none!important;
}
/* ボタン全体の位置 */
.snsbtniti2{
display:flex;
flex-flow:row wrap;
}
/* ボタン同士の余白 */
.snsbtniti2 li{
flex:0 0 48%;
text-align:center!important;
}
